:root {
 --light-accent: #27c2ae;
 --dark-accent: #00474a;
}

* {
 box-sizing: border-box;
}

body {
 background-color: #c5e4e7;
 padding: 50px;
 font-family: monospace;
}

/* header and footer */

header img {
 margin: auto;
 display: block;
}

footer {
 text-align: center;
}

/* main */

main {
 aspect-ratio: 6 / 3;
 width: 60vw;
 background-color: whitesmoke;
 margin: 5rem auto;
 border-radius: 15px;
 display: grid;
 grid-template-columns: 1fr 1fr;
}

section {
 margin: 5%;
 padding: 5px;
}

/* first section and form */

section:first-of-type {
 font-size: 1.1rem;
 width: 95%;
}

fieldset:nth-of-type(2) label {
 position: absolute;
 width: 1px;
 height: 1px;
 padding: 0;
 margin: -1px;
 overflow: hidden;
 clip: rect(0, 0, 0, 0);
 white-space: nowrap;
 border: 0;
}

input[type="number"] {
 background-color: #e2eafc;
 padding: 0.5rem 0.3rem;
 border: none;
 border-radius: 8px;
 width: 100%;
}

.input-wrap {
 background-color: #00474a;
 color: rgb(195, 255, 242);
 text-align: center;
 padding: 5px 5px 5px 25px;
 width: 20%;
 margin: 5px;
 font-size: 1.3rem;
 font-weight: 600;
}

.input-wrap:hover {
 cursor: pointer;
}

/* second section */

section:last-of-type {
 background-color: var(--dark-accent);
 border-radius: 8px;
 width: 85%;
}

section:last-of-type p {
 display: flex;
 justify-content: space-between;
 margin: 10% auto;
 width: 80%;
 color: whitesmoke;
 font-size: 1.1rem;
 font-weight: 600;
}

section:last-of-type small {
 font-size: 0.9rem;
 opacity: 0.8;
 font-weight: normal;
}

section:last-of-type .amount {
 font-size: 1.9rem;
 color: var(--light-accent);
}

#reset {
 background-color: rgb(151, 255, 233);
 color: var(--dark-accent);
 font-size: 1.2rem;
 transition: 200ms all ease-in-out;
 width: 90%;
 border: none;
 padding: 8px 0;
 border-radius: 8px;
 letter-spacing: 0.5px;
 margin: 45% auto 0;
 display: block;
 position: relative;
 bottom: -5%;
}

#reset:hover {
 cursor: pointer;
 background-color: rgb(195, 255, 242);
}
